@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

$spaceGroteskBold: spaceGroteskBold, sans-serif;
$spaceGroteskRegular: spaceGroteskRegular, sans-serif;
$spaceGroteskMedium: spaceGroteskMedium, sans-serif;

$overpass: 'Overpass', sans-serif;
$overpassMono: 'Overpass Mono', monospace;