@font-face {
    font-family: spaceGroteskBold;
    src: url(fonts/spaceGrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
    font-family: spaceGroteskRegular;
    src: url(fonts/spaceGrotesk/SpaceGrotesk-Regular.otf);
}

@font-face {
    font-family: spaceGroteskMedium;
    src: url(fonts/spaceGrotesk/SpaceGrotesk-Medium.otf);
}